#bstyle{
    background-color: antiquewhite;
    color: aqua;
    border: 5%;
    border-style:solid;
    border-color: black;
    border-radius: 10px;
    margin: 10px 5px;
    padding: 10px;
    position: absoulte;
    
    border: 5px;

}

p{
    background-color: aquamarine;
    margin: auto;
    padding: 10px;
    position: absoulte;
    top: 10px;
    border: 5%;
    border-style:solid;
    border-color: black;
    border-radius: 10px;

}
